
html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
body {
  height: 100%;
}
.contenido {
  height: 100%;
}
.centrado{
    text-align: center;
    border-radius: 10px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(240,240,240);
    padding-bottom: 20px;
    box-shadow: 1px 1px 1px 3px #888;
}

.tabla{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black; 
    background-color:rgb(250,250,250);
    border-collapse: collapse;
}

.tabla th, td {
  text-align: center;
  padding: 8px;
}
.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tabla th {
  background-color: rgb(13, 111, 192);
  color: white;
}

.button_tabla {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size:20px;
  border-color: none;
  border-radius:5px;
}
.button_tabla:hover {
  color: #fff;
  background-color: rgb(13, 111, 192);
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
p{
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
}
.menu {
  background-color: #333;

}
.menu li {
    float: left;
  }

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.menu li a:hover {
  background-color: #111;
}

.footer { 
  margin-top: auto;
    width: 100%;
    background-color: rgb(107, 115, 122);
    color: white;
    text-align: center;
 }

 .footer a{
  color: white;
 }

  /*Pagina de bienvenida*/
.cards {
    height: auto;
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.tarjeta {
  width: 350px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #888;
  border-top: 8px solid rgb(48, 48, 48);
  min-height: 250px;
  margin: 10px;
}

.tarjeta:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  
}

.intro {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5%;
  background-image: url("../images/intro.jpg");
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  
}
.intro::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: 0px;
  height: 150px;
  width: 100%;
  content: '';
}

.boton_filtrar {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius:5px
}

.boton_filtrar:hover {
  border: 2px solid rgb(15, 131, 226);
}

/*Pagina de area administrativa*/
.areaAdmin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: black;
  background-size: 100% 100%;
}

.optionTabla {
  width:70%;
  height: 15%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  background-color:rgba(250, 250, 250, 0.336);
}

/*Pagina de informacion*/
.info_container {
  width:75%;
  text-align: left;
  padding-top: 2%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}
.info_container::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: 0px;
  height: 150px;
  width: 100%;
  content: '';
}
.info_container a {
  color: rgb(15, 131, 226);
  font-size: 70px;
}
.info_container p {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.info_container img {
  width: 100%;
  height: auto;
}
.boton_contacto-info {
  
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 131, 226);
  border-radius: 5px;
} 

.boton_contacto-info:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  background-color: rgb(21, 112, 187);
}

.col-sm-3 a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}